.nav__icon {
  padding-top: 0.29rem;
  padding-right: 0.2rem;
  color: #8c52ff;
}
.button_container {
  @media (max-width: 400px) {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
  }
}
